a{
    font-size: 14pt;
    margin-right: 0.4rem;
    text-decoration: none;
    color: var(--bs-nav-link-color);
    transition: all 0.3s ease-in;
}
a:hover{
    color: var(--bs-navbar-hover-color);
    font-size: 16pt;
}